<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>[%level] [%date{MM/dd HH:mm:ss}] [%logger]: %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="akka.actor" level="WARN"/>
    <logger name="com.lightbend.lagom" level="WARN"/>

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
